<mat-selection-list (selectionChange)="handleSelectionChange($event.option)">
  <div mat-subheader>Todo items</div>
  <mat-list-option *ngFor="let entry of listEntries; trackBy: trackByFn" checkboxPosition="before" [value]="entry" >
    <div mat-line>{{entry.title}}</div>
    <div mat-line>{{entry.description}}</div>
  </mat-list-option>
  <mat-divider></mat-divider>
  <div mat-subheader>Done items</div>
  <mat-list-option *ngFor="let entry of doneList" checkboxPosition="before" disabled="true" selected="true">
    <div mat-line>{{entry.title}}</div>
    <div mat-line>{{entry.description}}</div>
  </mat-list-option>
</mat-selection-list>
